{% extends "layout.html" %}

{% block heading %}
    <h1>About Me</h1>
{% endblock %}

{% block body %}
    <p>Egestas fringilla phasellus faucibus scelerisque eleifend. Mauris pellentesque pulvinar pellentesque habitant morbi tristique. Donec enim diam vulputate ut pharetra. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. In dictum non consectetur a erat nam at lectus urna. Quam vulputate dignissim suspendisse in est ante. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Donec enim diam vulputate ut pharetra. Urna condimentum mattis pellentesque id nibh tortor. Urna nunc id cursus metus aliquam eleifend mi in. Mattis enim ut tellus elementum sagittis vitae et leo duis. Feugiat pretium nibh ipsum consequat nisl vel pretium.</p>
    <a href="/">Home</a>
{% endblock %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Portfolio</title>
        <style media="screen">
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>

    </body>
</html>
